.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.main_content h3{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-top: 30px;
   
   
}
.main_content .card{
    width: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    background-color:rgb(243, 243, 243);
    margin-bottom: 50px;


}
.main_content .card_img{
    margin-top: -5vw;

}
.main_content .card_img img{
    width: 200px;
}
.main_content .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;


}
.main_content .card-header h2{
    font-size: 14px;

}
.main_content .card-header p{
    font-size: 34px;
    text-align: center;
    
}
.main_content  .price{

 
    color: orange;
    font-size: 20px;
}
.main_content .price span{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.main_content .card:hover{
    background-color: aqua;
    transform: scale(1.1);
    cursor: pointer;
}
.main_content .card:hover .btn{
    background-color: orange;
    color: aliceblue;
}
.main_content .card .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    cursor:pointer;
    position: relative;
    overflow: hidden;
    background-color: aquamarine;
}